# React Native specific
/node_modules
**/*.env
**/*.env.*
**/__tests__/

# IDE / Editor specific
/.idea
/.vscode
*.swp
*.swo
*.sublime-*
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store
.idea/
.sourcemaps/
.svn/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.xcuserstate
*.xcworkspace
*.xccheckout
*.xcscmblueprint
*.xcscheme
*.xcuserdatad
*.xctestrun
*.lock
*.bin
*.lock-wscript
*.sqlite
*.wasm

# Android / Gradle
/android/
/build/
/captures/
/gradle/
/gradlew
/gradlew.bat
/gradle.properties
/gradle-wrapper.jar
/gradle-wrapper.properties

# iOS / Xcode
/ios/Pods/
/ios/Podfile.lock
/ios/Podfile.lock.backup
/ios/Podfile.backup
/ios/Pods/Manifest.lock
/ios/Pods/Manifest.debug.json
/ios/Pods/Manifest.release.json
/ios/Pods/Target Support Files/
/ios/Pods/GeneratedFiles/
/ios/Pods/Headers/
/ios/Pods/Resources/
/ios/Pods/Scripts/
/ios/*.xcworkspace
/ios/*.xcodeproj

# Metro Bundler cache
/metro-cache/
/metro-state/

# Misc
/cov_*/
/lib-cov/
/build/Release
/coverage/
/docs/api/
/docs/app/
/docs/assets/
/docs/_book/
/docs/build/
/docs/deployment/
/test/tmp/
/test/lib-cov/
/test/fixtures/*/actual.js
/test/fixtures/*/expected.js
*.log
*.log.*
logs
*.tgz
*.swp
*.lock
*.bak
*.mdb
*.pdb
*.seed
*.csv
*.dat
*.out
*.pid
*.exe
*.dll
*.obj
*.o
*.a
*.so
*.dylib
*.ncb
*.sdf
*.suo
*.pdb
*.idb
*.DS_Store
*.class
*.iml
*.log
*.npmrc
*.yarnrc
.yarn/*
.pnp/*
.pnp.js
